// body settings

    body{
        font-family: $font-main;
        font-size: 10pt;
        color: $black;
        background-color: $site-bg;
    }

// headings

    h1{
        font-family: $font-main;
        font-size: 24pt;
    }

    h2{
        font-family: $font-main;
        font-size: 22pt;
    }

    h3{
        font-family: $font-main;
        font-size: 20pt;
    }

    h4{
        font-family: $font-main;
        font-size: 18pt;
    }

    h5{
        font-family: $font-main;
        font-size: 16pt;
    }

    h6{
        font-family: $font-main;
        font-size: 14pt;
    }