// main colors

    $white: #ffffff;
    $black: #252525;


// main elements colors

    $site-bg: rgb(238, 238, 238);


// social media colors

    $facebook: #3a589e;
    $twitter: #60a9de;
    $linked-in: #0e77b8;
    $vimeo: #1ab7ea;
    $tumblr: #34445b;
    $blogspot: #f58020;
    $google-plus: #dd4a36;
    $youtube: #cf2226;
    $vine: #00b487;